{% extends "notes/base.html" %}
{% block title %}NoteBook-Archived{% endblock %}
{% block content %}
{% load static %}

<p class="text-capitalize" style="font-weight: bold; font-size: larger;">ARCHIVED</p>
<p class="text-capitalize">NOTES</p>
<div class="card-container">
    {% for note in archived_notes %}
        {% if note.archived  %}
        <div class="card" data-note-id="{{ note.id }}">
        <a href="#" class="note-link" data-note-id="{{ note.id }}">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.body|truncatechars:650 }}</p>
            </a>
            <span class="badge rounded-pill text-bg-info">{{ note.label.name }}</span>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% include "notes/modal.html" %}



{% endblock %}


{% block extra_js %}
<script src="{% static 'detail.js' %}"></script>
{% endblock %}
