{% extends "notes/base.html" %}
{% block title %}Archived | Notebook{% endblock %}
{% block content %}
{% load static %}
<div id="archiveToast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
    aria-atomic="true" style="position: fixed; top: 1rem; right: 1rem;">
    <div class="d-flex">
        <div id="toastMessage" class="toast-body">
            Note has been archived.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<p class="text-capitalize" style="font-weight: bold; font-size: larger;">ARCHIVED NOTES</p>
<!-- <p class="text-capitalize">NOTES</p> -->
<div class="card-container">

    {% if archived_notes|length >= 1 %}
    {% for note in archived_notes %}
    {% if note.archived %}
    <div class="card" data-note-id="{{ note.id }}">
        <a href="#" class="note-link" data-note-id="{{ note.id }}">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info" style="width: 16rem;">{% for label in note.label.all %}{{ label.name }}|{%endfor %}</span>
    </div>
    {% endif %}
    {% endfor %}

    {% else %}
    {% include 'notes/archived/empty.html' %}
    {% endif %}

    
</div>

{% include "notes/modal.html" %}



{% endblock %}


{% block extra_js %}
<script src="{% static 'detail.js' %}"></script>
{% endblock %}