{% extends "users/base.html" %}
{% block title %}Log out | NoteBook{% endblock %}
{% block content %}
{% load static %}




    <div class="card-body">
        <p class="text-center" style="font-size: 28px; font-weight: bold;">Welcome</p>

        <p class="text-center" style="font-size: 16px; font-weight: normal;">Your notes are safe with us...</p>
        
        <a class="btn btn-primary d-grid gap-2 col-6 mx-auto" href="{% url 'accounts:login' %}" role="button" style="width: 380px;">Log in again</a>
    </div>



{% endblock %}