<!--Edit Label Modal -->
<div class="modal fade" id="EditLabelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Label</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="text" class="form-control bg-dark text-white"
                id="LabelName" placeholder="Edit label..." style="color: white; border: none; outline: none; margin-bottom: 10px;">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id='saveButton'>Save changes</button>
            </div>
        </div>
    </div>
</div>