{% extends "notes/base.html" %}
{% block title %}Create Label{% endblock %}
{% block content %}
<div class="new-note-form" style="margin-top: 1%; margin-left: 13%; border: none">
    <form method="post" action="{% url 'notes:label_create' %}">
        {% csrf_token %}
        <div class="card text-bg-dark mb-3" style="max-width: 76rem; padding: 0;">
            <div class="card-header">
                <input type="text" name="{{ form.name.name }}" class="form-control bg-dark text-white" id="{{ form.name.id_for_label }}" placeholder="Label Name" style="color: white; border: none; outline: none;">
            </div>
            <button type="submit" class="btn btn-primary">Create Label</button>
        </div>
    </form>
</div>
{% endblock %}