<!-- Modal -->
<div class="modal fade" id="noteDetailModal" tabindex="-1" aria-labelledby="noteDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-lg-custom custom-color">
      <div class="modal-header">
        <input class="modal-title fs-5" id="noteTitle" placeholder="Title" value=""></input>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <textarea class="modal-body" id="noteBody" placeholder="Take a note..."></textarea>
      <div class="modal-footer" style="align-items: start;">
        <div class="d-flex justify-content-between align-items-left">
          <p>ID: {{ id }}</p>
          <button type="button" class="btn btn-dark" id="archiveButton"
            style="margin-left: 5px; margin-right: 5px; width: 45px; height: 45px; border-radius: 50%;" title="Archive" data-note-id="{{ note.id }}">
            <i class="bi bi-archive-fill"></i>
          </button>

          


          <button type="button" class="btn btn-dark"
            style="margin-left: 5px; margin-right: 5px; width: 45px; height: 45px; border-radius: 50%;" title="Delete"><i
              class="bi bi-trash3-fill"></i></button>
          <select name="label" class="form-select bg-dark text-white me-2" id="noteLabel"
            style="max-width: 17rem; margin-left: 4%;">
            <option selected disabled>Choose label</option>
            <option value="">-------</option>
            {% for label in labels %}
            <option value="{{ label.id }}">{{ label.name }}</option>
            {% endfor %}
          </select>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
      </div>
      <p class="text-end" id="editedTime"></p>
    </div>
  </div>
</div>