{% extends "notes/base.html" %}
{% block title %}My NoteBook{% endblock %}
{% block content %}
{% load static %}

<p class="text-capitalize">PINNED NOTES</p>
<div class="card-container">
    
    {% for pinned_note in pinned_notes %}
    <div class="card" data-note-id="{{ pinned_note.id }}">
        <a href="#" class="note-link" data-note-id="{{ pinned_note.id }}">
            <h5 class="card-title">{{ pinned_note.title }}</h5>
            <p class="card-text">{{ pinned_note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info">{{ pinned_note.label.name }}</span>
    </div>
    {% endfor %}
</div>

<p class="text-capitalize">OTHER NOTES</p>
<div class="card-container">
    
    {% for other_note in other_notes %}
    <div class="card" data-note-id="{{ other_note.id }}">
        <a href="#" class="note-link" data-note-id="{{ other_note.id }}">
            <h5 class="card-title">{{ other_note.title }}</h5>
            <p class="card-text">{{ other_note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info">{{ other_note.label.name }}</span>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="noteDetailModal" tabindex="-1" aria-labelledby="noteDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content modal-lg-custom">
      <div class="modal-header">
        <input class="modal-title fs-5" id="noteTitle" placeholder="Title" value=""></input>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <textarea class="modal-body" id="noteBody" placeholder="Take a note..."></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'detail.js' %}"></script>
{% endblock %}