{% extends "notes/base.html" %}
{% block title %}NoteBooks | Notebook{% endblock %}
{% block content %}
{% load static %}

<p class="text-capitalize" style="font-weight: bold; font-size: larger;">PINNED NOTES</p>
<div class="card-container">
    
    {% for pinned_note in pinned_notes %}
    <div class="card" data-note-id="{{ pinned_note.id }}">
        <a href="#" class="note-link" data-note-id="{{ pinned_note.id }}">
            <h5 class="card-title">{{ pinned_note.title }}</h5>
            <p class="card-text">{{ pinned_note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info">{{ pinned_note.label.name }}</span>
    </div>
    {% endfor %}
</div>

<p class="text-capitalize" style="font-weight: bold; font-size: larger;">OTHER NOTES</p>
<div class="card-container">
    
    {% for other_note in other_notes %}
    <div class="card" data-note-id="{{ other_note.id }}">
        <a href="#" class="note-link" data-note-id="{{ other_note.id }}">
            <h5 class="card-title">{{ other_note.title }}</h5>
            <p class="card-text">{{ other_note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info">{{ other_note.label.name }}</span>
    </div>
    {% endfor %}
</div>

{% include "notes/modal.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'detail.js' %}"></script>
{% endblock %}