<!-- Trash Note Detail Modal -->
<div class="modal fade" id="trashNoteDetailModal" tabindex="-1" aria-labelledby="trashNoteDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-lg-custom custom-color">
            <div class="modal-header">
                <h5 class="modal-title fs-5" id="trashNoteTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="trashNoteBody"></div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Close">Close</button> -->
                <button type="button" class="btn btn-danger" id="permanentDeleteButton"
                style="margin-left: 5px; margin-right: 5px; width: 45px; height: 45px; border-radius: 50%;" title="Delete"
            data-note-id="{{ note.id }}"><i class="bi bi-trash3"></i></button>

                <button type="button" class="btn btn-primary" id="restoreButton"
                style="margin-left: 5px; margin-right: 5px; width: 45px; height: 45px; border-radius: 50%;" title="Restore"
            data-note-id="{{ note.id }}"><i class="bi bi-arrow-clockwise"></i></button>
            </div>
            <p class="text-end" id="trashNoteEditedTime"></p>
        </div>
    </div>
</div>