{% extends "notes/base.html" %}
{% block title %}Trash | Notebook{% endblock %}
{% block content %}
{% load static %}
<p class="text-capitalize" style="font-weight: bold; font-size: larger;">TRASH</p>

<p class="text-capitalize" style="font-weight: bold; font-size: larger; font-style: italic;">Notes in Trash will be deleted after 14 days...</p>
<div class="card-container">

    {% for trashed_note in trashed_notes %}
    <div class="card" data-note-id="{{ trashed_note.id }}">
        <a href="#" class="trash-note-link" data-note-id="{{ trashed_note.id }}">
            <h5 class="card-title">{{ trashed_note.title }}</h5>
            <p class="card-text" >{{ trashed_note.body|truncatechars:650 }}</p>
        </a>
        <span class="badge rounded-pill text-bg-info">{{ trashed_note.label.name }}</span>
    </div>
    {% endfor %}
</div>

{% include "notes/note/trash_modal.html" %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'trash_note_detail.js' %}"></script>
{% endblock %}